<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Olli Vui.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
				<key>dateExpires</key>
				<string>4/5/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ISO8601DateFormatterValueTransformer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JWT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JWTDecode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KRActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KRProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RKValueTransformers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RestKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SOCKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TransitionKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>13BA10143E32D206BEDE5C072427906A7AF52CFC</string>
						<key>dateExpires</key>
						<string>4/5/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3Y99V2NC5C</string>
						<key>name</key>
						<string>Viet Bui</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3Y99V2NC5C.ai.viet.voice</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3Y99V2NC5C</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3Y99V2NC5C.mobile.Olli-Vui</string>
				</array>
			</dict>
			<key>name</key>
			<string>Olli Vui.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ebe05f46-01f4-4b04-bb13-eb85520d4770</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3Y99V2NC5C</string>
				<key>name</key>
				<string>Viet Bui</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
